<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--引用默认日志配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--使用默认的控制台日志输出实现-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--定义日志文件的存储地址,使用绝对路径-->
    <property name="LOG_HOME" value="E:/logs/design-pattern"/>

    <!-- 自定义 Console 输出设置 -->
    <appender name="CONSOLE_CUSTOM" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) - %cyan(%msg%n)</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <root level="debug">
        <!-- 设置根据 profile 来选择不同的输出格式 -->
        <appender-ref ref="CONSOLE_CUSTOM"/>
    </root>
</configuration>